# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc

# Dados originais baixados automaticamente
data/raw/

# Cache do Jupyter
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db